---
# System Configuration

- name: "Update /etc/hostname and /etc/hosts files"
  action: copy src=/etc/$item dest=/mnt/etc/$item
  with_items:
  - hostname
  - hosts
  tags:
  - sysconfig

- name: "Update /etc/fstab"
  action: template src=templates/etc_fstab dest=/etc/fstab owner=root group=root mode=0644
  tags:
  - sysconfig

- name: "Update network configuration"
  action: copy src=files/etc_network_interfaces dest=/mnt/etc/network/interfaces
  tags:
  - sysconfig

- name: "Rebind the virtual filesystems from the LiveCD"
  action: shell /bin/mount --bind /$item /mnt/$item
  with_items:
  - dev
  - proc
  - sys
  tags:
  - sysconfig

- name: "Configure locale en_US.UTF-8"
  action: shell chroot /mnt /usr/sbin/locale-gen en_US.UTF-8
  tags:
  - sysconfig
  - debug

- name: "Run apt-get update"
  action: shell chroot /mnt /usr/bin/apt-get update
  tags:
  - sysconfig
  - debug

- name: "Install ubuntu-minimal and python-software-properties"
  action: shell chroot /mnt /usr/bin/apt-get install ubuntu-minimal python-software-properties
  tags:
  - sysconfig
  - debug

- name: "Add zfs-native/daily repository"
  action: shell chroot /mnt /usr/bin/apt-add-repository --yes ppa:zfs-native/daily
  tags:
  - sysconfig
  - debug

- name: "Add zfs-native/grub repository"
  action: shell chroot /mnt /usr/bin/apt-add-repository --yes ppa:zfs-native/grub
  tags:
  - sysconfig
  - debug

- name: "Install updated kernel version from zfs-native/daily repo ( May take a lot of time )"
  action: shell chroot /mnt /usr/bin/apt-get install -y --no-install-recommends linux-image linux-image-generic linux-headers-generic
  tags:
  - sysconfig
  - debug

- name: "Install ubuntu-zfs ( May take a lot of time )"
  action: shell chroot /mnt /usr/bin/apt-get -y install ubuntu-zfs
  tags:
  - sysconfig
  - debug

- name: "Install zfs-initramfs"
  action: shell chroot /mnt /usr/bin/apt-get -y install zfs-initramfs
  tags:
  - sysconfig
  - debug

# DEBIAN_FRONTEND=noninteractive should disable postinstallation tasks for grub
- name: "Install grub with zfs support"
  action: shell chroot /mnt /bin/bash DEBIAN_FRONTEND=noninteractive /usr/bin/apt-get -y install grub-pc
  tags:
  - sysconfig
  - debug

- name: "Update root password"
  action: shell chroot /mnt /bin/echo -e "zfs\nzfs" | passwd root
  tags:
  - sysconfig
  - debug

- name: "Refresh the initrd files"
  action: shell chroot /mnt /usr/sbin/update-initramfs -c -k all
  tags:
  - sysconfig
  - debug

- name: "Update Grub"
  action: shell chroot /mnt /usr/sbin/update-grub
  tags:
  - sysconfig
  - debug

- name: "Install Grub into MBR"
  action: shell chroot /mnt /usr/sbin/grub-install /dev/sda
  tags:
  - sysconfig
  - debug
