---
# System Configuration

- name: "Update /etc/hostname and /etc/hosts files"
  action: copy src=/etc/$item dest=/mnt/etc/$item
  with_items:
  - hostname
  - hosts
  tags:
  - sysconfig

- name: "Update /etc/fstab"
  action: template src=templates/etc_fstab dest=/etc/fstab owner=root group=root mode=0644
  tags:
  - sysconfig

- name: "Update network configuration"
  action: copy src=files/etc_network_interfaces dest=/mnt/etc/network/interfaces
  tags:
  - sysconfig

- name: "Rebind the virtual filesystems from the LiveCD"
  action: shell /sbin/mount --bind /$item /mnt/$item
  with_items:
  - dev
  - proc
  - sys
  tags:
  - sysconfig
